<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <ion-content>

    <ion-item class="input-item">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" class="custom-input"></ion-input>
    </ion-item>
  
    <ion-item class="input-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" class="custom-input"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Registrar</ion-button>
  </ion-content>
</form>