<!-- <ion-header>
  <app-navbar></app-navbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Academy Rise</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openLogin()">Iniciar Sesión</ion-button>
      <ion-button color="danger" (click)="openRegister()">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- Iterar sobre tus cursos y crear una tarjeta para cada uno -->
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let curso of cursos">
        <ion-card>
          <img src="{{ curso.imagen }}" alt="Imagen del curso"/>
          <ion-card-header>
            <ion-card-title>{{ curso.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ curso.descripcion }}</p>
            <!-- Si tienes un video para mostrar -->
            <ion-item lines="none">
              <ion-label>
                <ion-icon name="play-circle"></ion-icon>
                Ver video
              </ion-label>
              <ion-button fill="clear" slot="end" (click)="verVideo(curso)">
                Ver
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
